<header id="main-header">
    <div id="logo"><a href="/">WIMP</a></div>
    <nav>
      <ul>
        <li class="nav-item"><a href="/jointeam"">Join</a></li>
        <li class="nav-item"><a href="/buildteam">Build</a></li>
        <li class="nav-item" id="log-in"><a href="/login">SignIn</a></li>
        <!-- 추후에 변경 -> 로그인시 내정보로 나오게 -->
        <li class="nav-item" id="log-in"><a href="/userprofile">Profile</a></li>
        <li class="nav-item" id="log-in"><a href="/">LogOut</a></li>
        <li class="nav-item" id="log-in"><a href="/register">Register</a></li>
      </ul>
    </nav>
  </header>