<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/styles/team-list.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>

    <main>
      <p>400 Error!</p>
    </main>
  </body>
</html>
