<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/header_with_bootstrap.ejs") %>
    <link rel="stylesheet" href="/styles/register.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>

    <main>
      <section id="register-form">
        <div id="form-title">
          <h2>WIMP</h2>
          <p>Build your team easily</p>
        </div>
        <form action="/register-user" method="POST">
          <div class="mb-3">
            <label for="user-email" class="form-label"> Email address </label>
            <input
              type="email"
              class="form-control"
              id="user-email"
              name="user-email"
              aria-describedby="emailHelp"
            />
            <!-- <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>

          <div class="mb-3">
            <label for="nickname" class="form-label">Nickname</label>
            <input
              type="password"
              class="form-control"
              id="nickname"
              name="nickname"
            />
          </div>

          <div class="mb-3">
            <label for="user-password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="user-password"
              name="user-password"
            />
          </div>

          <div class="mb-3">
            <label for="user-password-confirm" class="form-label">
              Password-Confirm
            </label>
            <input
              type="password"
              class="form-control"
              id="user-password-confirm"
              name="user-password-confirm"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

          <div id="go-to-login">
            <h3>If you already have an ID?</h3>
            <a href="/login">Go to LogIn &#8594;</a>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
