<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/styles/team-detail.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>

    <main><h1>팀 세부사항 페이지 입니다.</h1></main>
  </body>
</html>
