<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <section id="main">
      <video src="main.mp4" muted autoplay loop></video>
      <div id="wrap"></div>
      <article id="main-content">
        <h1>Are you looking for a Peer?</h1>
        <p>
          Are you looking for a team member to work on a project or task with?
        </p>
        <p>you can build and join a team easily!</p>
        <a id="start_btn" href="/jointeam">Explore</a>
      </article>
    </section>
  </body>
</html>
