<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where is my peer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">WIMP</a></div>
      <nav>
        <ul>
          <li class="nav-item"><a href="/">Menu1</a></li>
          <li class="nav-item"><a href="/">Menu2</a></li>
          <li class="nav-item" id="log-in"><a href="/login">SignIn</a></li>
          <!-- 추후에 변경 -> 로그인시 내정보로 나오게 -->
          <li class="nav-item" id="log-in"><a href="/">Profile</a></li>
          <li class="nav-item" id="log-in"><a href="/">LogOut</a></li>
          <li class="nav-item" id="log-in"><a href="/register">Register</a></li>
        </ul>
      </nav>
    </header>

    <section id="main">
      <video src="main.mp4" muted autoplay loop></video>
      <div id="wrap"></div>
      <article id="main-content">
        <h1>Are you looking for a Peer?</h1>
        <p>hello</p>
      </article>
    </section>

    <footer></footer>
  </body>
</html>
