<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where is my peer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/shared.css" />
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">WIMP</a></div>

      <nav>
        <ul>
          <li><a href="/">메뉴1</a></li>
          <li><a href="/">메뉴2</a></li>
          <li class="login"><a href="/">로그인</a></li>
          <!-- 추후에 변경 -> 로그인시 내정보로 나오게 -->
        </ul>
      </nav>
    </header>

    <body></body>

    <footer></footer>
  </body>
</html>
