#main-header {
  position: static;
}

main {
  text-align: center;
}

#team-list-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 80px;
  width: 1200px;
  margin: 80px auto 70px auto;
  padding: 15px;

  background-color: rgb(230, 229, 229);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#to-go-build {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 6px;
  background-color: rgba(19, 19, 19, 0.8);
  color: rgb(229, 229, 229);
}

#to-go-build:hover {
  background-color: rgba(93, 93, 93, 0.8);
  color: rgb(100, 100, 100);
}

#to-go-build:visited {
  color: rgb(229, 229, 229);
}

#search-input {
  height: 20px;
  width: 280px;
  border-radius: 5px;
  background-color: rgb(252, 252, 252);

  text-align: right;
  padding: 5px 12px;
  font-size: 0.9rem;
}

/* All posts page */

#all-posts {
  text-align: center;
}

#posts-list {
  margin: 3rem auto;
  max-width: 50rem;
  list-style: none;
  padding: 0;
}

#order-oldest {
  margin: 0 40px;
}

.post-item {
  margin: 1.3rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-item h2,
.post-item p {
  margin: 0.5rem 0;
}

.post-item a {
  font-size: 1.7rem;
  color: #555;
}

.post-item a:visited {
  color: #555;
}

.post-item-author {
  font-style: italic;
  color: #555;
}

.post-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.post-actions .btn-alt {
  padding: 0.5rem 1rem;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-actions .btn-alt:hover {
  background-color: #0056b3;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
